@import url("../assets/fonts/lato/stylesheet.css");
@import url("../assets/fonts/raleway/stylesheet.css");
body {
  font-family: 'Lato';
  overflow-x: hidden; }

.form-control:focus, .btn-home:focus {
  border-color: none;
  box-shadow: none; }

.hoteleiro {
  background-color: #7d5d99;
  color: #fff !important; }
  .hoteleiro:hover {
    border-bottom: none !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

/* width */
::-webkit-scrollbar {
  width: 4px;
  transition: width .3s ease-in; }

/* Track */
::-webkit-scrollbar-track {
  background: #eee; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d5d99;
  transition: background-color .3s ease-in; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #5C5DA6; }

.btn-home {
  width: 50%;
  border: none;
  background-color: #7d5d99;
  color: #fff;
  padding: 8px 64px;
  margin-top: 8px;
  height: 40px;
  text-transform: uppercase;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in; }
  .btn-home:hover {
    background-color: #5C5DA6;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none; }
  @media only screen and (max-width: 991px) {
    .btn-home {
      width: 100%;
      display: block;
      margin: auto;
      text-align: center; } }

.load {
  background-color: #7d5d99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; }
  .load svg {
    width: 10%;
    height: auto; }
    @media only screen and (max-width: 991px) {
      .load svg {
        width: 30%;
        height: auto; } }

.container-ps {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 8px 0; }

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 991px) {
    .content {
      height: auto;
      position: relative; }
      .content .content-home {
        margin: 32px 0; } }

.home {
  background-image: url("../assets/img/home.jpg");
  background-size: auto 100vh;
  background-color: #1e1e1e;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: 0 100%;
  width: 100vw;
  height: 100vh; }
  @media only screen and (max-width: 991px) {
    .home {
      background-size: cover;
      background-position: center;
      height: auto; } }
  .home .hoteleiro {
    background-color: #5C5DA6;
    color: #fff !important; }
    .home .hoteleiro:hover {
      border-bottom: none !important;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .home .home-title {
    color: #fff;
    font-weight: 300;
    font-size: 64px;
    padding: 16px 0; }
    .home .home-title b {
      font-weight: 900; }
    @media only screen and (max-width: 991px) {
      .home .home-title {
        font-size: 40px;
        text-align: center; } }
  .home .navbar {
    background: transparent !important;
    padding: 20px;
    z-index: 9999; }
    .home .navbar .navbar-nav .nav-item {
      margin: 0 8px; }
      .home .navbar .navbar-nav .nav-item .nav-link {
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: all .1s ease-in;
        -moz-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        transition: all .1s ease-in; }
        .home .navbar .navbar-nav .nav-item .nav-link:hover {
          transform: translateY(-2px);
          border-bottom: 1px solid #fff; }
    .home .navbar .collapse {
      justify-content: flex-end; }
      @media only screen and (min-width: 992px) {
        .home .navbar .collapse .closeBtn {
          display: none; } }
      @media only screen and (max-width: 991px) {
        .home .navbar .collapse .closeBtn {
          position: absolute;
          top: 20%;
          font-size: 32px;
          color: #ffcc00;
          cursor: pointer; } }
      @media only screen and (max-width: 991px) {
        .home .navbar .collapse {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          padding: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: rgba(99, 0, 75, 0.95); } }
    @media only screen and (max-width: 991px) {
      .home .navbar .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none; } }
    .home .navbar .brand-logo {
      height: 50px;
      width: auto; }
    @media only screen and (max-width: 991px) {
      .home .navbar .navbar-toggler {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #fff; }
        .home .navbar .navbar-toggler i {
          color: #fff; } }
  .home .card {
    padding: 8px; }
  .home form label {
    text-transform: uppercase; }
  .home form .form-control {
    border-radius: 0;
    padding: 8px 16px;
    height: auto;
    font-weight: 300;
    color: #1e1e1e; }
    .home form .form-control::placeholder {
      color: #ddd; }
  .home form .btn-home {
    width: 100%;
    padding: 0; }
    .home form .btn-home:hover {
      background-color: #5C5DA6; }
  .home .more {
    width: 100%;
    padding: 8px 0;
    position: absolute;
    bottom: 0;
    text-align: center; }
    .home .more i {
      color: #fff;
      font-size: 32px; }
    @media only screen and (max-width: 991px) {
      .home .more {
        position: relative; } }

@media screen and (max-width: 1190px) and (min-width: 576px) {
  .results .card-columns {
    column-count: 2; } }
.results .search-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(99, 0, 75, 0.95);
  z-index: 9999; }
  @media only screen and (min-width: 992px) {
    .results .search-wrapper {
      display: none; } }
  .results .search-wrapper .card {
    width: 64%;
    height: auto; }
  .results .search-wrapper form {
    display: block; }
    .results .search-wrapper form .form-control, .results .search-wrapper form .form-group {
      width: 100%; }
    .results .search-wrapper form .form-group {
      margin-top: 16px; }
    .results .search-wrapper form .btn-home {
      width: 100%;
      margin-top: 16px; }
  @media only screen and (min-width: 992px) {
    .results .search-wrapper .closeBtn {
      display: none; } }
  @media only screen and (max-width: 991px) {
    .results .search-wrapper .closeBtn {
      position: absolute;
      top: 20%;
      font-size: 32px;
      color: #ffcc00;
      cursor: pointer; } }
.results .search-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #7d5d99; }
  @media only screen and (min-width: 992px) {
    .results .search-button {
      display: none; } }
.results .resultsHeader {
  margin: 64px 0;
  font-family: 'Raleway';
  color: #1e1e1e; }
  .results .resultsHeader .resultTitle {
    font-weight: 700; }
  .results .resultsHeader .resultSubtitle {
    font-weight: 300; }
.results .resultsCard .card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Raleway"; }
  .results .resultsCard .card h5 {
    margin-bottom: 0; }
  .results .resultsCard .card .badge {
    background-color: #7d5d99;
    color: #fff;
    font-family: "Lato";
    position: relative;
    left: 50%; }
    @media only screen and (max-width: 320px) {
      .results .resultsCard .card .badge {
        left: 30%; } }
    @media screen and (max-width: 767px) and (min-width: 576px) {
      .results .resultsCard .card .badge {
        left: 30%; } }
  .results .resultsCard .card .card-title {
    text-transform: uppercase;
    color: #1e1e1e;
    font-weight: 700; }
  .results .resultsCard .card .card-price {
    color: #7d5d99;
    text-align: right;
    font-family: "Lato";
    font-weight: 700; }
    @media only screen and (max-width: 320px) {
      .results .resultsCard .card .card-price {
        font-size: 1.2rem; } }
    @media screen and (max-width: 1190px) and (min-width: 576px) {
      .results .resultsCard .card .card-price {
        font-size: 1.15rem; } }
  .results .resultsCard .card .card-oldPrice {
    text-align: right;
    font-family: "Lato";
    text-decoration: line-through;
    color: #ccc; }
  .results .resultsCard .card .card-rate-1 a, .results .resultsCard .card .card-rate-2 a, .results .resultsCard .card .card-rate-3 a, .results .resultsCard .card .card-rate-4 a, .results .resultsCard .card .card-rate-5 a {
    color: #ffcc00;
    cursor: default; }
    .results .resultsCard .card .card-rate-1 a:hover, .results .resultsCard .card .card-rate-2 a:hover, .results .resultsCard .card .card-rate-3 a:hover, .results .resultsCard .card .card-rate-4 a:hover, .results .resultsCard .card .card-rate-5 a:hover {
      text-decoration: none; }
  .results .resultsCard .card .card-book {
    margin-top: 16px; }
    .results .resultsCard .card .card-book .card-endereco {
      font-size: 12px;
      margin-bottom: 0;
      color: #aaa; }
      .results .resultsCard .card .card-book .card-endereco b {
        color: #1e1e1e; }
    .results .resultsCard .card .card-book .button-book {
      display: flex;
      justify-content: flex-end; }
      .results .resultsCard .card .card-book .button-book .btn-home {
        width: auto;
        padding: 8px;
        font-size: 12px;
        font-weight: 700;
        height: auto;
        margin-top: 0; }
        .results .resultsCard .card .card-book .button-book .btn-home:hover {
          background-color: #5C5DA6;
          color: #fff; }
.results form {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 991px) {
    .results form {
      display: none; } }
  .results form label {
    text-transform: uppercase; }
  .results form .form-group {
    margin-right: 8px;
    margin-bottom: 0; }
  .results form .form-control {
    border-radius: 0;
    padding: 8px 16px;
    height: 40px;
    font-weight: 300;
    color: #1e1e1e;
    border-color: #eee; }
    .results form .form-control::placeholder {
      color: #ddd; }
  .results form .btn-home {
    width: 40px;
    padding: 0;
    margin: 0; }
    .results form .btn-home:hover {
      background-color: #5C5DA6; }
.results .navbar {
  background: #fff !important;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }
  .results .navbar .navbar-nav .nav-item {
    margin: 0 8px; }
    .results .navbar .navbar-nav .nav-item .nav-link {
      color: #7d5d99;
      text-transform: uppercase;
      -webkit-transition: all .1s ease-in;
      -moz-transition: all .1s ease-in;
      -o-transition: all .1s ease-in;
      transition: all .1s ease-in; }
      .results .navbar .navbar-nav .nav-item .nav-link:hover {
        transform: translateY(-2px);
        border-bottom: 1px solid #7d5d99; }
        @media only screen and (max-width: 991px) {
          .results .navbar .navbar-nav .nav-item .nav-link:hover {
            border-color: #fff; } }
      @media only screen and (max-width: 991px) {
        .results .navbar .navbar-nav .nav-item .nav-link {
          color: #fff; } }
  .results .navbar .collapse {
    justify-content: flex-end; }
    @media only screen and (min-width: 992px) {
      .results .navbar .collapse .closeBtn {
        display: none; } }
    @media only screen and (max-width: 991px) {
      .results .navbar .collapse .closeBtn {
        position: absolute;
        top: 20%;
        font-size: 32px;
        color: #ffcc00;
        cursor: pointer; } }
    @media only screen and (max-width: 991px) {
      .results .navbar .collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(99, 0, 75, 0.95); } }
  @media only screen and (max-width: 991px) {
    .results .navbar .collapsing {
      -webkit-transition: none;
      transition: none;
      display: none; } }
  .results .navbar .brand-logo {
    height: 50px;
    width: auto; }
  @media only screen and (max-width: 991px) {
    .results .navbar .navbar-toggler {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-color: #1e1e1e; }
      .results .navbar .navbar-toggler i {
        color: #1e1e1e; } }

.hotel .back-btn {
  z-index: 9999;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7d5d99;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px; }
  .hotel .back-btn:hover {
    text-decoration: none; }
.hotel .gallery {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden; }
  .hotel .gallery .slick-slide img {
    max-height: 256px;
    width: auto; }
.hotel .hotel-content {
  position: relative;
  margin: 32px 0;
  font-family: 'Raleway'; }
  .hotel .hotel-content .hotel-desc {
    margin: 8px 0; }
  .hotel .hotel-content .btn-home:hover {
    background-color: #5C5DA6;
    color: #fff; }
  .hotel .hotel-content h1 {
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 700; }
  .hotel .hotel-content .card-rate-1 a, .hotel .hotel-content .card-rate-2 a, .hotel .hotel-content .card-rate-3 a, .hotel .hotel-content .card-rate-4 a, .hotel .hotel-content .card-rate-5 a {
    color: #ffcc00;
    cursor: default; }
    .hotel .hotel-content .card-rate-1 a:hover, .hotel .hotel-content .card-rate-2 a:hover, .hotel .hotel-content .card-rate-3 a:hover, .hotel .hotel-content .card-rate-4 a:hover, .hotel .hotel-content .card-rate-5 a:hover {
      text-decoration: none; }
  .hotel .hotel-content .price {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .hotel .hotel-content .price h3 {
      margin-bottom: 0; }
    .hotel .hotel-content .price .badge {
      background-color: #7d5d99;
      color: #fff;
      font-family: "Lato";
      position: relative; }
    .hotel .hotel-content .price .card-price {
      color: #7d5d99;
      text-align: right;
      font-family: "Lato";
      font-weight: 700; }
      @media only screen and (max-width: 991px) {
        .hotel .hotel-content .price .card-price {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 320px) {
        .hotel .hotel-content .price .card-price {
          font-size: 1.2rem; } }
      @media screen and (max-width: 1190px) and (min-width: 576px) {
        .hotel .hotel-content .price .card-price {
          font-size: 1.15rem; } }
    .hotel .hotel-content .price .card-oldPrice {
      text-align: right;
      font-family: "Lato";
      text-decoration: line-through;
      color: #ccc; }
  .hotel .hotel-content .place .card {
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .hotel .hotel-content .place .card-body {
    padding: 0; }
  .hotel .hotel-content .place iframe {
    width: 100%;
    height: 512px; }
  .hotel .hotel-content .content-skills {
    margin: 32px 0; }
    .hotel .hotel-content .content-skills .skills-title {
      text-transform: uppercase;
      font-weight: 700; }
      .hotel .hotel-content .content-skills .skills-title:after {
        content: " ";
        width: 128px;
        height: auto;
        border-bottom: 1px solid #7d5d99;
        position: absolute;
        bottom: 0;
        left: 2%; }
    .hotel .hotel-content .content-skills .skills {
      list-style: none;
      padding: 0;
      width: 100%; }
    .hotel .hotel-content .content-skills .skills-item {
      width: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 16px 32px;
      float: left; }
      @media only screen and (max-width: 991px) {
        .hotel .hotel-content .content-skills .skills-item {
          margin: 16px 30px; } }
      @media only screen and (max-width: 320px) {
        .hotel .hotel-content .content-skills .skills-item {
          margin: 16px 24px; } }
      .hotel .hotel-content .content-skills .skills-item small {
        width: 100px;
        height: 32px; }
      .hotel .hotel-content .content-skills .skills-item i {
        width: 64px;
        height: 64px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #7d5d99; }
    .hotel .hotel-content .content-skills .infos .infos-list {
      padding: 0;
      list-style: none; }
      .hotel .hotel-content .content-skills .infos .infos-list .infos-item {
        display: flex;
        flex-direction: column;
        float: left;
        width: 33%;
        margin: 16px 0; }
        @media only screen and (max-width: 991px) {
          .hotel .hotel-content .content-skills .infos .infos-list .infos-item {
            margin: 16px; } }
        .hotel .hotel-content .content-skills .infos .infos-list .infos-item small {
          height: 32px; }
  .hotel .hotel-content .content-comments {
    margin: 32px 0; }
    .hotel .hotel-content .content-comments .comment {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      padding: 16px;
      border-radius: 6px;
      border-left: 2px solid #7d5d99;
      margin-bottom: 16px; }
    .hotel .hotel-content .content-comments .profile-pic {
      max-width: 100%;
      display: block; }
    .hotel .hotel-content .content-comments .profile-name {
      margin-bottom: 0;
      font-weight: 700; }
    .hotel .hotel-content .content-comments .testmonial {
      margin-bottom: 0; }
  .hotel .hotel-content .obs {
    margin: 32px 0; }
    .hotel .hotel-content .obs .obs-list {
      list-style: none;
      padding: 0; }
      .hotel .hotel-content .obs .obs-list li {
        border-left: 1px solid #7d5d99;
        margin-bottom: 8px;
        padding-left: 8px;
        transition: all .1s ease-in; }
        .hotel .hotel-content .obs .obs-list li:hover {
          border-left: 2px solid #7d5d99; }

.pagamentos {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Raleway";
  padding: 16px; }
  .pagamentos .pagamentos-modal {
    background-color: #fff;
    width: 90%;
    height: 90%;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    .pagamentos .pagamentos-modal .pagamento-header {
      font-family: "Raleway";
      border-bottom: 1px solid #ccc;
      display: flex; }
      .pagamentos .pagamentos-modal .pagamento-header h1 {
        font-weight: 700px;
        color: #7d5d99;
        width: 100%; }
      .pagamentos .pagamentos-modal .pagamento-header .close-payment {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 32px;
        cursor: pointer;
        transition: all .1s ease-in; }
        .pagamentos .pagamentos-modal .pagamento-header .close-payment:hover {
          color: #5C5DA6; }
    .pagamentos .pagamentos-modal .pagamento-one {
      height: 80%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0 8px; }
      .pagamentos .pagamentos-modal .pagamento-one .dados-pessoais {
        font-family: "Raleway";
        margin-top: 32px;
        margin-bottom: 32px; }
      .pagamentos .pagamentos-modal .pagamento-one .dados input {
        border-radius: 0;
        padding: 8px; }
      .pagamentos .pagamentos-modal .pagamento-one .dados .btn-home {
        width: 100%; }
        .pagamentos .pagamentos-modal .pagamento-one .dados .btn-home:hover {
          background-color: #5C5DA6;
          color: #fff; }
      .pagamentos .pagamentos-modal .pagamento-one .dados .values {
        margin-bottom: 0;
        padding: 0;
        list-style: none; }
        .pagamentos .pagamentos-modal .pagamento-one .dados .values .value-item {
          margin: 8px 0;
          border-bottom: 0.5px solid #7d5d99; }
      .pagamentos .pagamentos-modal .pagamento-one .dados table th {
        width: 200px; }
        @media only screen and (max-width: 991px) {
          .pagamentos .pagamentos-modal .pagamento-one .dados table th {
            width: 128px; } }
      @media only screen and (max-width: 991px) {
        .pagamentos .pagamentos-modal .pagamento-one .dados .final-value {
          font-size: 16px; } }
      .pagamentos .pagamentos-modal .pagamento-one .dados .card-container {
        margin-bottom: 16px; }
      @media only screen and (max-width: 991px) {
        .pagamentos .pagamentos-modal .pagamento-one .dados .jp-card {
          min-width: 190px; } }

/*# sourceMappingURL=main.css.map */
