//Fonts
@import url('../assets/fonts/lato/stylesheet.css');
@import url('../assets/fonts/raleway/stylesheet.css');

//Color
$mainColor: #7d5d99;
$mainDark: #5C5DA6;
$secondColor: #ffcc00;

$mA0: #630047;
$mA1: #184a44;
$mA2: #7d5d99;
